* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.headUserImg img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.logo img {
  height: 25px;
}
.flex {
  display: flex;
  align-items: center;
}
body {
  max-width: 1900px;
  margin: auto;
}
header {
  height: 60px;
  justify-content: space-between;
  padding: 5px 20px;
  gap: 10px;
}

.menuLogo {
  gap: 25px;
}

.searchbox {
  border: 1px solid #d7d7d7;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.searchbox input {
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  padding-left: 10px;
  font-weight: 600;
}
.searchbox i {
  height: 40px;
  width: 60px;
  background-color: #f0f0f0;
  border-radius: 0 30px 30px 0;
  line-height: 40px;
  cursor: pointer;
}

.micIcon i,
.headIcon2 i {
  height: 45px;
  width: 45px;
  background-color: #f0f0f0;
  border-radius: 50%;
  line-height: 45px;
  cursor: pointer;
  font-size: 1.1rem;
}

.searchboxMic {
  gap: 20px;
}

.micIcon i:hover,
.headIcon2 i:hover {
  background-color: #bbbbbb;
}

.headIcon1 {
  height: 35px;
  width: 100px;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 20px;
}
.headIcon1 i {
  font-size: 1.1rem;
  margin: 0 5px;
}
.headIcon1:hover {
  background-color: #e4e4e4;
}

.headerRight {
  gap: 15px;
}
.headIcon2 {
  position: relative;
}
.headIcon2::after {
  position: absolute;
  content: "9+";
  height: 16px;
  width: 22px;
  background-color: red;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 20px;
  text-align: center;
  top: 5px;
  left: 25px;
}
@media (max-width: 1200px) {
  .searchbox input {
    max-width: 300px;
  }
}
@media (max-width: 900px) {
  .searchbox input {
    max-width: 100px;
  }
}
@media (max-width: 600px) {
  .searchbox input {
    display: none;
  }
  .searchbox i {
    width: 40px;
    border-radius: 50%;
  }
  .searchbox {
    border: none;
  }
  .searchbox i:hover {
    background-color: #bbbbbb;
  }
  .searchboxMic {
    gap: 5px;
  }
  .logo img {
    height: 20px;
  }
  .menuLogo {
    gap: 10px;
  }
  .headIcon1 {
    height: 30px;
    width: 90px;
    font-style: 0.9rem;
  }
  .headIcon1 i {
    font-size: 0.9rem;
  }
  header {
    gap: 5px;
  }
  .headerRight {
    gap: 10px;
  }

  .micIcon i,
  .headIcon2 i {
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
  .headIcon2 i {
    margin-right: 5px;
  }
}

/* -----------------sidbar css */

* {
  list-style: none;
  text-decoration: none;
  color: #222;
  font-size: 15px;
}

.sidebarSection {
  width: 220px;
  background-color: #f3f3f3;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.partN1,
.partN2,
.partN3,
.partN4 {
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #d2d2d2;
}

ul li a {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

ul li a:hover {
  background-color: #cbcbcb;
}

.sidebarSection::-webkit-scrollbar {
  width: 0px;
}
.sidebarSection::-webkit-scrollbar-track {
  background-color: #c2c2c2;
}
.sidebarSection::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
}
@media (max-width: 1200px) {
  ul li a span {
    display: none;
  }
  .sidebarSection {
    width: 70px;
  }
  h3 {
    display: none;
  }
}

h3 {
  padding-left: 20px;
}

/* =-================== */
.mainContainer {
  display: flex;
  width: 100%;
}

.listCat ul {
  display: flex;
}
.listCat ul li a {
  background-color: #e3e3e3;
  padding: 5px 15px;
  font-weight: 600;
}

.listCat {
  width: calc(100vw - 230px);
  overflow-x: auto;
  background-color: #ffffff;
  margin: 10px;
}

.listCat::-webkit-scrollbar {
  height: 5px;
}
.listCat::-webkit-scrollbar-track {
  background-color: #c2c2c2;
}
.listCat::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .listCat {
    width: calc(100vw - 90px);
  }
}

@media (max-width: 600px) {
  .sidebarSection {
    display: none;
  }
  .listCat {
    width: calc(100vw - 10px);
    margin: 5px;
  }
  .listCat ul li a {
    font-size: 0.9rem;
    padding: 10px;
  }
  .listCat ul li .all {
    background-color: #222;
    color: #fff;
  }
}

/* --------------- */

.videoContainer {
  margin: 10px;
}
.videoCard {
  max-height: 200px;
  max-width: 400px;
  position: relative;
}
.videoCard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.videoCard::after {
  position: absolute;
  content: "28:00";
  height: 20px;
  width: 50px;
  background-color: rgb(53, 53, 53);
  top: 85%;
  left: 85%;
  color: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
}

.channelNameInfo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.channelNameInfo {
  display: flex;
  gap: 20px;
  padding: 10px 5px;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
}

.cName {
  display: inline-block;
  padding: 5px 0;
}

.viewTime span {
  font-size: 0.9rem;
  color: #606060;
}

.videoFlex {
  max-width: 410px;
  height: 320px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-color: #dbdbdb;
}

.videoContainer {
  width: calc(100vw - 230px);
  height: calc(100vh - 150px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow-y: auto;
}
.videoContainer::-webkit-scrollbar {
  width: 0;
}
.videoContainer::-webkit-scrollbar-track {
  background-color: #c2c2c2;
}
.videoContainer::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .videoContainer {
    width: calc(100vw - 90px);
  }
}

@media (max-width: 600px) {
  .sidebarSection {
    display: none;
  }
  .videoContainer {
    width: calc(100vw - 10px);
    margin: 5px;
  }
  .videoFlex {
    flex: 100%;
    background-color: transparent;
  }
  .mainContainer {
    justify-content: center;
  }
}
